build/
*.iml
.idea/*.xml
.idea/libraries/
.idea/.name
.gradle/
out/
*.class
*.jar
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

gradle.properties
/bin/
